<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Web App TD IA Cloud M2 Carrilho</title>
</head>
<body>
    <h1>Web App TD IA Cloud M2 Carrilho</h1>
    <p>Formulaire de recherche</p>
    <form action="/formulaire" method=["GET", "POST", "DELETE", "UPDATE","PUT"]>
        <input type="text" name="query" placeholder="Saisir votre recherche">
        <input type="submit" value="Rechercher">
    </form>
</body>
</html>
